@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html, body {
    height: 100%;
    width: 100%;
    color: #222;
    font-family: 'Poppins', sans-serif;
    scroll-padding: 50px;
}

#banner .carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}